<body>
  <div class="container">
    <header class="header">
      <img  class="logo" src='/assets/9rrYlN-LogoMakr.png' alt="Netflix Logo">
      <div>
        <input placeholder="search" class="input" type="text">
      </div>
      <button mat-icon-button color="accent" (click)="toggleModal()">
        <mat-icon>menu</mat-icon>
    </button>
        <div id="header_modal" class="visually-hidden" [class.visually-hidden]="!isModalVisible">
          <a href="#" (click)="manageAccount()">Account</a>
          <a href="#" (click)="showPrivacyPolicy()">Privacy Policy</a>
          <a href="#" (click)="logout()">Log out</a>
        </div>
    </header>
    <main  class="main">
    <div *ngFor="let imageData of imagesData">
      <div class="thumbnail">
        <p class="opensans">{{imageData.title}}</p>
        <img class="imageSize" [src]="imageData.imageUrl"/>
        <p class="opensans">{{imageData.description}}</p>
      </div>
    </div>
    </main>
  </div>
</body>


