body {
  margin: 0px;
  background: #f6f7f8 !important;
  font-family: "Inter";
}




.underLine {
  border-top: 3px solid red;
  width: 100px;
  padding-bottom: 30px;
  border-radius: 1px;
}

.error_container {
  max-width: 300px;
}

.message {
  font-size: 13px;
  color: red;
  font-weight: bold;
  overflow-wrap: break-word;
}
.name {
  background-repeat: no-repeat;
  background-position: 95%;
  width: 100%;
  height: 25px;
  padding: 13px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
}

.mail {
  background-repeat: no-repeat;
  background-position: 95%;
  width: 100%;
  height: 25px;
  padding: 13px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
}

.mobileVision {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100vh;
  }

.hide {
  background-position: center;
  background-size: 24px, 24px;
  background-repeat: no-repeat;
  background-position: 95%;
  width: 100%;
  height: 25px;
  padding: 13px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

h1 {
  font-size: 47px;
  font-weight: 700;
  padding-bottom: 16px;
  margin-top: -5px;
}

.position {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 500px;
  padding: 32px 0px;
  border-radius: 30px;
  background-color: #ffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

::placeholder {
  color: #d1d1d1;
  font-size: 17px;
  padding-left: 10px;
}

.remember {
  width: 231px;
  height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.remember-text {
  font-weight: 400;
  color: #a8a8a8;
  font-size: 16px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 180px;
  height: 43px;
  border-radius: 8px;
  border: 1px;
  background-color: #2a3647;
  font-size: 16px;
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
}

.popup {
  z-index: 9999; /* Hier kannst du die Z-Index-Wert anpassen, um sicherzustellen, dass das Popup über anderen Elementen liegt */
  position: fixed; /* Fixiert die Position des Popups */
  top: 50%; /* Platziert das Popup vertikal zentriert */
  left: 50%; /* Platziert das Popup horizontal zentriert */
  transform: translate(-50%, -50%); /* Zentriert das Popup genau in der Mitte des Bildschirms */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#2a3647;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.buttonConfirm {
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: 2px solid red;
  cursor: pointer;
}
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 150px;
  border-radius: 50px;
  z-index: 10;
  background-color: rgb(185, 24, 24);
  border: 2px solid white;
}

.logo img {
  padding: 30px;
  padding-bottom: 70px;
}

.linkPosition {
  padding-top: 20px;
  width: 246px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomLinks {
  text-decoration: none;
  font-size: 16px;
  color: #a8a8a8;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input {
  padding-left: 15px;
}

.acceptLink {
  color: #29abe2;
  text-decoration: none;
  font-size: 16px;
}

.arrow {
  position: absolute;
  left: 30px;
  top: 35px;
}

.arrow:hover {
  cursor: pointer;
}
#popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 326px;
  height: 74px;
  background-color: #2a3647;
  color: #fff;
  border-radius: 20px;
  z-index: 1;
  top: 100%; /* Startposition unterhalb des Bildschirms */
  transform: translateY(100%);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  animation: slideUp 0.5s ease-in-out forwards; /* Animationseffekt über 0.5 Sekunden */
}

@keyframes slideUp {
  to {
    top: 40%; /* Zielposition, wenn das Popup aktiv ist */
    transform: translateY(0);
  }
}

.d-none {
  display: none !important;
}
.notsame {
  color: red;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  top: 425px;
  left: 40%;
}
