<div class="logo">
    <div class="logoimg"><img src="assets/9rrYlN-LogoMakr.png" alt=""></div>
  </div>
  <div class="mobileVision">
    <div class="position">
      <h1 class="opensans">New Password</h1>
      <p>Pls enter your accounts email</p>
      <form class="password-container" (submit)="emailSubmit()" return false>
        <input [(ngModel)]="email" required class="mail" minlength="7" placeholder="Email" type="email" name="mail">
        <button class="login , opensans">Send</button>
      </form>
      <div *ngIf="passwordResetSuccess" class="success-message">Password reset email sent. Please check your email.</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  </div>
  