<div class="logo">
    <div class="logoimg"><img src="/assets/9rrYlN-LogoMakr.png" alt=""></div>
</div>
<div class="mobileVision">

    <div class="position">
        <h1 class="opensans">New Password</h1>
        <p>Pls enter your accounts email</p>
        <form class="password-container" (submit)="resetPassword()" return false>
            <input [(ngModel)]="password" required class="mail" minlength="7" placeholder="newPassword" type="email" name="newPassword">
            <input [(ngModel)]="passwordConfirm" required class="mail" minlength="7" placeholder="passwordConfrim" type="email" name="passwordConfrim">
            <button class="login , opensans">Send</button>
        </form>
        <!-- Success message container -->
        <div *ngIf="passwordResetSuccess" class="success-message">Password has been reset successfully.</div>
        <!-- Error message container -->
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
</div>
