<div class="d-flex justify-content-center align-items-center vh-100 position-relative">
    <!-- Hintergrundbild -->
    <img src="assets/thumbnail/spotlight.webp" alt="Reset Background"
         class="w-100 h-100 object-fit-cover position-absolute top-0 start-0 z-n1">
  
    <!-- Formular -->
    <form class="container p-4 border rounded bg-dark bg-opacity-75 text-white w-100"
          style="max-width: 500px;" (submit)="resetPassword()">
      
      <div class="text-center mb-4">
        <h2 class="mt-3">Neues Passwort festlegen</h2>
        <p>Bitte gib dein neues Passwort ein und bestätige es.</p>
      </div>
  
      <div class="form-group mb-3">
        <input type="password" class="form-control" [(ngModel)]="password"
               name="newPassword" placeholder="Neues Passwort" required minlength="7" />
      </div>
  
      <div class="form-group mb-3">
        <input type="password" class="form-control" [(ngModel)]="passwordConfirm"
               name="passwordConfirm" placeholder="Passwort bestätigen" required minlength="7" />
      </div>
  
      <button type="submit" class="btn btn-danger w-100">Zurücksetzen</button>
  
      <!-- Erfolgsanzeige -->
      <div *ngIf="passwordResetSuccess" class="alert alert-success text-center mt-4">
        Passwort erfolgreich geändert.
      </div>
  
      <!-- Fehlermeldung -->
      <div *ngIf="errorMessage" class="alert alert-danger text-center mt-3">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  