<div class="vision">
  <header class="header">
    <img class="logo" src="assets/9rrYlN-LogoMakr.png" alt="Netflix Logo" />
    <div>
      <input placeholder="search" class="input" type="text" />
    </div>
    <button mat-icon-button color="accent" (click)="toggleModal()">
      <mat-icon>menu</mat-icon>
    </button>
    <div
      id="header_modal"
      class="visually-hidden"
      [class.visually-hidden]="!isModalVisible"
    >
      <a routerLink="/videoflix" (click)="back2main()">Videoflix</a>
      <a routerLink="/videoflix" (click)="showPrivacyPolicy()"
        >Privacy Policy</a
      >
      <a href="#" (click)="logout()">Log out</a>
    </div>
  </header>

  <div class="height">
    <div class="user-details">
      <h1>Benutzerdaten</h1>
      <mat-form-field appearance="fill">
        <mat-label>Vorname</mat-label>
        <input matInput [(ngModel)]="user.first_name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nachname</mat-label>
        <input matInput [(ngModel)]="user.last_name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input matInput [(ngModel)]="user.phone" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput [(ngModel)]="user.address" />
      </mat-form-field>
      <button
        class="button"
        mat-raised-button
        color="primary"
        (click)="updateUser()"
      >
        Speichern
      </button>
    </div>
  </div>
</div>
