#header_modal {
  margin: 0;
  position: fixed;
  top: 103px;
  right: 16px !important;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px 0px 20px 20px;
  background: var(--Version-2-main-color, #2a3647);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.visually-hidden {
  display: none !important;
}
#header_modal a {
  color: white;
  padding: 8px 16px;
}
.logo {
  background-color: rgb(88, 0, 0);
  border-radius: 20px;
  margin: 10px;
}
.input {
  background-color: rgb(44, 0, 0);
  border-radius: 5px;
  border: 0px;
  height: 30px;
  color: white;
}

mat-icon-button {
  height: 100px;
}
.header {
  margin: 0px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vision {
  background-color: black;
  height: 100vh;
}
.height {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(26, 26, 26);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: black;
  }
}
