<div class="mobileVision">
    <div class="position">
        <h1>Log in</h1>
        <div class="underLine"></div>
        <form (submit)="login()" method="post" class="password-container"  return false>
            <input  type="text" name="username" [(ngModel)]="username" required class="mail"  placeholder="username" >
            <input required type="password" name="password" [(ngModel)]="password" class="hide" minlength="7" placeholder="Password"
                type="password" >
            <div class="d-none message" id="message">ups Passwort or email are not correct Try again</div>
            <div class="buttonPosition">
                <button type="submit" class="login">Log in</button>
            </div>
        </form>
    </div>
    <div (click)="register()" class="signUp">
        <div class="signContainer"><b class="signText">Not a Join user?</b><button
                class="signing">Sign up</button>
        </div>
    </div>
  </div>