body {
    margin: 0px;
    background: #F6F7F8 !important;
    font-family: 'Inter';
}

.underLine {
    border-top: 3px solid #29ABE2;
    width: 100px;
    margin-top: -20px;
    padding-bottom: 20px;
    border-radius: 1px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.mail {
    background-repeat: no-repeat;
    background-position: 90%;
    width: 100%;
    height: 24px;
    padding: 12px 21px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
}

.mobileVision {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

.hide {
    background-position: center;
    background-size: 24px, 24px;
    background-repeat: no-repeat;
    background-position: 90%;
    width: 100%;
    height: 24px;
    padding: 12px 21px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

h1 {
    margin-top: 32px;
    font-size: 47px;
}

.position {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    width: 50%;
    max-width: 800px;
    height: 515px;
    border-radius: 30px;
    background-color: #ffff;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

::placeholder {
    color: #d1d1d1;
    font-size: 17px;
    padding-left: 10px;
}

.remember {
    width: 100%;
    height: 24px;
}

.remember-text {
    font-weight: 500;
}

.guest {
    width: 200px;
    height: 51px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #ffff;
    font-size: 16px;
    margin-top: -11px;
    font-weight: 700;
}

.guest:hover {
    border: 1px solid #0F8CE9;
    box-shadow: 1px 1px 10px #0F8CE9;
}

.login:hover {
    background-color: #0F8CE9;
    box-shadow: 1px 1px 10px #0F8CE9;
}

.login {
    width: 180px;
    height: 51px;
    border-radius: 8px;
    border: 1px;
    background-color: #2A3647;
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
    margin-right: 38px;
}

@keyframes logoAnimation {
    0% {
        transform: translate(400%, 300%) scale(14);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.logo {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%) scale(1);
    animation: logoAnimation 1s ease-in-out 0s 1 normal forwards;
}

.logo img {
    height: 78px;
    width: 64px;
    padding: 30px;
    padding-bottom: 70px;
}

.signing {
    width: 104px;
    height: 49px;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-size: 16px;
    border: none;
}

.signText {
    font-size: 20px;
    font-weight: 400;
    padding-right: 30px;
}

.signContainer {
    position: absolute;
    top: 20px;
    width: 292px;
    right: 20px;
}

.linkPosition {
    padding-top: 40px;
    width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #A8A8A8;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.buttonPosition {
    gap: 20px;
}

input {
    padding-left: 15px;
}

.d-none {
    display: none !important;
}

.message {
    position: absolute;
    top: 265px;
    font-size: 13px;
    color: red;
    font-weight: bold;

}

@media(max-width:930px) {
    .buttonPosition {
        display: flex;
        flex-direction: column;
    }

    .guest {
        width: 180px;
        height: 51px;
        border-radius: 8px;
        border: 1px solid black;
        background-color: #ffff;
        font-size: 16px;
        margin-top: -11px;
        font-weight: 700;
    }

    .login {
        width: 180px;
        height: 51px;
        border-radius: 8px;
        border: 1px;
        background-color: #2A3647;
        font-size: 16px;
        font-weight: 700;
        color: #ffff;
    }
}

@media(max-width:700px) {
    .mobileVision {
        margin-top: 70px;
    }

    .position {
        width: 100%;
        height: 515px;
    }

    .signContainer {
        position: relative;

        width: 292px;
    }

    @keyframes logoAnimation {
        0% {
            transform: translate(100%, 300%) scale(10);
        }

        100% {
            transform: translate(-50%, -50%) scale(1);

        }
    }

    .logo {
        background-color: unset !important;
        position: absolute;
        z-index: 1;
        left: 10%;
        top: 65px;
        transform: translate(-50%, -50%) scale(1);
        animation: logoAnimation 1s ease-in-out 0s 1 normal forwards;
    }

    .logo img {
        height: 78px;
        width: 64px;
        padding: 30px;
        padding-bottom: 70px;
    }
}

@media(max-width:500px) {
    .mobileVision {
        margin-top: 70px;
    }

    .position {
        width: 100%;
        height: 515px;
    }

    .mail {
        width: 80%;
    }

    .hide {
        width: 80%;
    }

    .remember {
        width: 80%;
    }

    .signContainer {
        position: relative;
        width: 292px;
    }
}